<div class='frame' style="display: flex;justify-content: space-around;">
    <div class='form'>
        <h1>Generateur de QR codes</h1>
        <%= form_with url: "/qr_codes/convert", method: :get, html: {style:"display: grid;justify-content: center;"} do |form| %>
            <%= form.label :url, "Playlist url :" %>
            <%= form.text_field :url %>
            <%= form.label :image_link, "Lien de l'image :" %>
            <%= form.text_field :image_link %>
            <%= form.submit "Search" %>
        <% end %>
        <%= button_to "Export",  qr_codes_export_path, method: :post, params: {url: @url, image_url: @image_url} %>
    </div>
    <div class='frame' style="border-style: inset;width: 600px;border-color: black;">
    <div class='qr_code' style="display: flex;justify-content: center;">
        <img src="<%= @code %>" style="width: 330px;"/>
    </div>
    <div class='cover' style="display: flex;justify-content: center;">
        <img src="<%= @image_url %>" style="width: 330px;" />
    </div>
</div>

</div>